[submodule "lib/abseil"]
	path = 2017/lib/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "lib/cctz"]
	path = 2017/lib/cctz
	url = https://github.com/google/cctz
[submodule "lib/googletest"]
	path = 2017/lib/googletest
	url = https://github.com/google/googletest
[submodule "2018/external/gflags"]
	path = 2018/external/gflags
	url = https://github.com/gflags/gflags.git
